
#navbarProfile {
    width: 3rem;
    height:3rem;
    border-radius:50%;
}


.navbarIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-decoration: none;
}
.nav-logo{
    height: 55px;
    width: 70px;
    border-radius: 50%;
}
#navbarNav {
    flex: 8;
   justify-content: center;
}

#navbarDP {
    margin-right: 2.5rem;
    flex: 0.3;
    text-align: center;
    display: flex;
}



.navbarBigBox{
    background-color:rgb(255, 255, 255);
    color: black;
    position: sticky;
    top: 0px;
    width: 80%;
    z-index: 2;
    margin-left: 11rem;
    box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
    
}


#navbarDP >a{
    font-weight: bold;
    
}




#loginIcon{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    display: c;
}

#loginIcon:hover{
   border: 2px solid black;
}


.d-flex >input {
    width: 20rem;
}


#navbarDP >i{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: large;
}


#logo{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}